.divA {
    background-color: #58d1f6;
    width: 300px;
    height: 300px;
}

.divB {
    width: 50%;
    height: 50%;
    background-color: #459644;
}

.divC {
    background-color: rgb(231, 167, 29);
    width: 55vw;
    height: 20%;
}

.divD {
    width: 50%;
    height: 60vw;
    background-color: rgb(177, 20, 46);
}

.p1{
    color: #ffff; background-color: red; font-size: 15px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;
}